@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

fieldset {
  border: none;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.module_slide_card {
  display: flex;
  justify-content: space-between;
}
.module_slide_card li {
  width: 260px;
  background: no-repeat center center/cover;
}
.module_slide_card li a {
  display: block;
  position: relative;
  height: 356px;
}
.module_slide_card li a .text {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 110px;
  padding-left: 10px;
}
.module_slide_card li a .text p {
  color: #ffffff;
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
}
.module_slide_card li a .text span {
  color: #ffffff;
}

.notice .inner, .page_header .inner, .module_slide_card {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  font-size: 13px;
}

.page_header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.page_header h1 {
  font-family: "Tiro Devanagari Hindi", serif;
  font-size: 40px;
}
.page_header .gnb {
  font-size: 18px;
  font-weight: 600;
}
.page_header .gnb ul {
  display: flex;
}
.page_header .gnb ul a {
  padding: 0 40px;
}
.page_header .acc_gnb {
  display: flex;
  column-gap: 20px;
}
.page_header .acc_gnb li a {
  background: no-repeat center center/contain;
  display: block;
  width: 30px;
  height: 30px;
}
.page_header .acc_gnb li:nth-child(1) a {
  background-image: url("../images/ico_chatbot.png");
}
.page_header .acc_gnb li:nth-child(2) a {
  background-image: url("../images/ico_profile.png");
}
.page_header .acc_gnb li:nth-child(3) a {
  background-image: url("../images/ico_search.png");
}

.main img {
  height: 70vh;
  width: 100%;
}

.visual {
  display: flex;
  font-family: "Rubik", sans-serif;
}
.visual .reserv {
  display: flex;
  width: 100%;
  max-width: 450px;
  min-width: 400px;
  background-color: #505eee;
  padding: 20px;
}
.visual .reserv .inner {
  flex-grow: 1;
  background-color: #ffffff;
  position: relative;
  border-radius: 16px;
  padding: 20px;
}
.visual .reserv .book_container {
  height: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.visual .reserv .tab_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.visual .reserv .tab_menu li button {
  font-size: 16px;
}
.visual .reserv .tab_label {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: 400;
}
.visual .reserv .book_form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.visual .reserv .book_form .book_depart {
  order: 1;
  flex-basis: calc(50% - 35px);
  font-weight: 600;
}
.visual .reserv .book_form .book_depart span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.visual .reserv .book_form .book_arrive {
  flex-basis: calc(50% - 35px);
  order: 3;
  font-weight: 600;
}
.visual .reserv .book_form .book_arrive span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.visual .reserv .book_form .swap {
  border: 1px solid #a3a3a3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  order: 2;
}
.visual .reserv .book_term {
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d2d0d0;
  border-width: 1px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.visual .reserv .book_term span {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.visual .reserv dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.visual .reserv dl dt {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
.visual .reserv dl span {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
.visual .reserv .book_class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.visual .reserv .book_class label {
  font-size: 16px;
}
.visual .reserv .book_search {
  font-family: "Rubik", sans-serif;
  display: flex;
  background-color: yellow;
  padding: 10px 95px;
  justify-content: center;
  font-size: 16px;
}
.visual .option {
  position: absolute;
  left: 450px;
  z-index: 1100;
  background-color: red;
  width: 80px;
  height: 50px;
}
.visual .option span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .slide_wrap {
  position: relative;
  flex-grow: 1;
}
.visual .slide_wrap .slide_list li {
  height: 500px;
  background: no-repeat center center;
  background-color: #6ebaff;
}
.visual .slide_wrap .slide_list li:nth-child(1) {
  background-image: url("../images/../images/jeju_images/Artboard_1.png");
}
.visual .slide_wrap .slide_list li:nth-child(2) {
  background-image: url("../images/../images/jeju_images/Artboard_2.png");
}
.visual .slide_wrap .slide_list li:nth-child(3) {
  background-image: url("../images/../images/jeju_images/Artboard_3.png");
}
.visual .slide_wrap .slide_list li:nth-child(4) {
  background-image: url("../images/../images/jeju_images/Artboard_4.png");
}
.visual .slide_wrap .slide_list li:nth-child(5) {
  background-image: url("../images/../images/jeju_images/Artboard_5.png");
}
.visual .slide_wrap .slide_list li:nth-child(6) {
  background-image: url("../images/../images/jeju_images/Artboard_6.png");
}
.visual .slide_wrap .slide_list li:nth-child(7) {
  background-image: url("../images/../images/jeju_images/Artboard_7.png");
}
.visual .slide_wrap .slide_list li:nth-child(8) {
  background-image: url("../images/../images/jeju_images/Artboard_8.png");
}
.visual .slide_wrap .slide_list li:nth-child(9) {
  background-image: url("../images/../images/jeju_images/Artboard_9.png");
}
.visual .slide_wrap .slide_list li:nth-child(10) {
  background-image: url("../images/../images/jeju_images/Artboard_10.png");
}
.visual .slide_wrap .slide_list li:nth-child(11) {
  background-image: url("../images/../images/jeju_images/Artboard_11.png");
}
.visual .slide_wrap .slide_list li a {
  display: block;
  color: #ffffff;
  padding: 110px 0 0 100px;
}
.visual .slide_wrap .slide_list li a strong {
  line-height: 24px;
  font-size: 18px;
}
.visual .slide_wrap .slide_list li a p {
  line-height: 40px;
  font-size: 25px;
  padding-top: 50px;
}

.notice {
  background-color: rgb(210, 227, 249);
  font-family: "Rubik", sans-serif;
}
.notice .inner {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  height: 50px;
  column-gap: 20px;
}
.notice .inner h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.notice .inner h2 i {
  padding-right: 10px;
}
.notice li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 50px;
}

.dimm {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}
.dimm.open {
  display: block;
}

.view_detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6ebaff;
  width: 100%;
  max-width: 600px;
  z-index: 1001;
  display: none;
}
.view_detail.open {
  display: block;
}
.view_detail .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view_detail .contents .view_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view_detail .contents .view_pics {
  width: 100%;
  height: 300px;
  background: no-repeat center center/contain;
  display: block;
}
.view_detail .contents .view_pics:nth-child(1) {
  background-image: url("../images/pics_0.jpg");
}
.view_detail .contents .view_pics:nth-child(2) {
  background-image: url("../images/pics_1.jpg");
}
.view_detail .contents .view_pics:nth-child(3) {
  background-image: url("../images/pics_2.jpg");
}
.view_detail .contents .view_pics:nth-child(4) {
  background-image: url("../images/pics_3.jpg");
}
.view_detail .contents .view_pics:nth-child(5) {
  background-image: url("../images/pics_4.jpg");
}

.recommand h2 {
  font-weight: 600;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  margin: 20px 0 20px 20px;
}
.recommand ul li:nth-child(1) {
  background-image: url("../images/pics_0.jpg");
}
.recommand ul li:nth-child(2) {
  background-image: url("../images/pics_1.jpg");
}
.recommand ul li:nth-child(3) {
  background-image: url("../images/pics_2.jpg");
}
.recommand ul li:nth-child(4) {
  background-image: url("../images/pics_3.jpg");
}
.recommand ul li:nth-child(5) {
  background-image: url("../images/pics_4.jpg");
}
.recommand .text p i {
  position: relative;
  top: 5px;
}

.weekly h2 {
  font-weight: 600;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  margin: 20px 0 20px 20px;
}
.weekly ul li:nth-child(1) {
  background-image: url("../images/weekly_0.jpg");
}
.weekly ul li:nth-child(2) {
  background-image: url("../images/weekly_1.jpg");
}
.weekly ul li:nth-child(3) {
  background-image: url("../images/weekly_2.jpg");
}
.weekly ul li:nth-child(4) {
  background-image: url("../images/weekly_3.jpg");
}
.weekly ul li:nth-child(5) {
  background-image: url("../images/weekly_4.jpg");
}
.weekly .text p i {
  position: relative;
  top: 5px;
}

.page_footer {
  padding: 30px;
}
.page_footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border: 1px solid #d2d0d0;
  border-width: 1px 0;
}
.page_footer .inner .fnb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page_footer .inner .fnb > li {
  margin-right: 40px;
}
.page_footer .inner .fnb > li .footer_title {
  font-size: 16px;
  font-weight: 600;
}
.page_footer .inner .fnb .inside_list {
  padding-top: 10px;
  color: #898787;
}
.page_footer .inner .download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_footer .inner .download li .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 3px;
  width: 50%;
  height: 40px;
}
.page_footer .inner .download li img {
  width: calc(100% - 20px);
}
.page_footer .copyright {
  padding-top: 30px;
}

/*# sourceMappingURL=common.css.map */
