.page_header{
    position: fixed;
    z-index: 900;
    left:0;right:0;top:0;
    background-color: #ffffff;
        .bg{
            background-color:#fff;
            border-top:1px solid #ddd;
            position: absolute;
            top:80px;left:0;
            width: 100%;
            height: 0;
            z-index: 1;
            transition:height 0.4s;
        }
    .inner{
        @include flex;
        @extend %inner;
        height: 80px;
        position: relative;
        z-index:2;

        .hamburger{
            display: none;
        }
        
    }

    .logo{
        font-family: 'Tiro Devanagari Hindi', serif;
        font-size: 40px;
    }

    .gnb{

        .arrow_back{
            display: none;
            
        }
        .line{
            width: 0;
            transition: 0.4s;
            height: 5px;
            background-color: $active;
            position: absolute;
            left:0;bottom:-2.5px;
        }
        a{
            transition: 0.4s;
        }
        a:hover {
            color: $active;
        }
        .main_menu{
            display: flex;
            column-gap: 20px;
            & > li{
                
                &.on{
                    .sub_depth2{
                        display: flex;
                        align-items:stretch;
                    }
                }
                
                // position: relative;
                // min-width: 170px;
                // text-align: center;
                & > a {
                    font-weight: 600;
                    font-size: 18px;
                    display: block; 
                    line-height: 70px;
                    padding: 0 20px; 
                }
            }
        }
    }

    .sub_depth2 {
        position:absolute;
        left:0;top:80px; 
        display:none; 
        white-space: nowrap; 
        width:100%;
        justify-content:space-between;
        padding: 20px 0;
        font-size: 16px;
        line-height: 30px;

        &.on {
            display:block;
        }

        & > li {
            border-left:1px solid #d8d8d8;
            padding-left:20px;

            & > a {
                font-weight:bold;
                font-size:16px;
                display:block;
                margin-bottom:30px;
            }

        }
        .sub_images{
            li{
                display: block;
                background: no-repeat center center/cover;
                background-image: url($imgUrl + 'sub_image_0.jpg');
                padding: 50px;
                width: 100%;
                position: relative;
                
            };
            .sub_img{
                position: absolute;
                top:0;left:0;
                font-weight: 600;
            }
        }
    }
}

   

.acc_gnb{
    @include flex(null, null);
    column-gap: 20px;
    $icons : 'chatbot', 'profile', 'search';
    li {
        a {
            background:no-repeat center center/contain;
            display:flex;
            justify-content: center;
            align-items: center;
            width:24px;height:24px;
           
        
                // .material-symbols-outlined{
                    
                //     font-variation-settings:
                //     'FILL' 1,
                //     'wght' 600,
                // }
        }

        .linkdin{
            background-image: url($imgUrl + 'linkedin_bk.svg');
            
        }
        
    }
}


.searchModal {
    position:fixed;
    left:0;top:-380px;right:0; 
    background-color: nth($gray, 1);
    padding:50px 0;
    z-index:1001;
    transition:top 0.4s ease-out; 

    &.open {
        top:0;
    }
}
.search_box{
    @extend %inner; 
    align-items: center;
    display: flex;
    flex-direction: column;
    color:nth($primary, 5);

    .search_form{

        .search_modal{
            border: none;
            background-color: #f5f5f5;
            color: rgb(185, 185, 186);
            width:150px;
            font-style: italic;
        }

        .modal_search{
            width: 60px;
            border-radius: 30px;
            background-color: $active;
            height: 30px;
            border: none;
            color: #fff;
            &:hover{
                color: $active;
                background-color:#fff;
            }
        }
    }
    .search_custom{
        .recent_search{
            strong{
                color: nth($gray, 9);
            }
            ul{
               margin-top: 12px;
                @include flex($j: flex-start);
                column-gap: 10px;
                li{
                    @include flex;
                    background-color: map-get($hash,bg);
                    border-radius: 30px;
                    padding: 6px 5px 6px 13px;
                    transition: 0.2s;

                    &:hover {
                        background-color: map-get($hash, hover);
                        color: map-get($hash, hover_text);

                        button {
                            color:map-get($hash, hover_text);
                        }
                    }
                   

                    button{
                        font-size: 18px; 
                        color:rgba(map-get($hash,text), 0.5);
                    }
                }
            }
        }
    }

    .link{
        strong{
            color: nth($gray, 9);
            display: block;
            margin-top: 12px;
        }
        .quick_link{
            margin-top: 12px;
            display: flex;
            column-gap: 10px;
            li{
                &:hover{
                    color: nth($gray, 9);
                }

            }
        }
    }
    
}
.close{
    width: 150px;
    height: 40px;
    background-color:nth($gray, 3);
    border-radius: 20px;
    font-size: 16px;
    color: #fff;

    &:hover{
        background-color: nth($gray, 5);
        color: $text;
        font-weight: 600;
    }
}

@media all and (max-width: 960px) {
    .page_header{
        background-color: $main;
        z-index: 1001;

        .logo{
            font-size: 30px;
        }
        
        .bg {
            display:none !important;
        }
        .inner{
            display: flex;
            padding: 0 24px;
            color: #fff;

            .hamburger{
                display: block;
                .ham_menu{
                    display: flex;
                    align-items: center;
                    width: 30px;
                    color: #fff;
                }
            }

            .gnb{
                display: block;
                position: absolute;
                top: 80px;left:-60vw;
                width:60vw; 
                background-color: azure;
                color: $active;
                height: calc(100vh - 80px);
                overflow-y: auto;
                transition:left 0.4s ease-out;

                &.on{ 
                    left:0; 
                    z-index: 1001;
                }

                .arrow_back{
                    position: relative;
                    top: 20px;left: 10px;
                }

                
                .main_menu{
                    display: block;
                    width: 350px;
                    height: 400px;  
                }

                .depth1{
                    & > li{
                        
                        &.on{
                           
                            .sub_depth2{
                                display: block;

                            }
                        }
                    }
                }
            }
        }
        .sub_depth2{
            position: static;

            & > li {
                padding-top: 20px;
                padding-bottom: 8px;
                & > a{
                    border-bottom: 1px solid rgb(0, 92, 222);
                    display: block;
                    padding-bottom: 10px;

                }
            }
        }
        .sub_depth3{
            & > li{

                a:hover{
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        
    }
    .acc_gnb{
        li{
            .linkdin{
                background-image: url($imgUrl + 'linkedin.svg');

            }

        }
    }
}
