@charset "utf-8";
$imgUrl :'../images/';
%inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
body{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
    font-size: 13px;
}

.page_header{
    .inner{
        @include flex;
        @extend %inner;
        height: 80px;
    }

    h1{
        font-family: 'Tiro Devanagari Hindi', serif;
        font-size: 40px;
    }
    // margin: 0 20px;

    .gnb{
        font-size: 18px;
        font-weight: 600;
        ul{
        display: flex;
        
    
            a{
                padding: 0 40px;

                
            }
        }
    }
    

    .acc_gnb{
        @include flex(null, null);
        column-gap: 20px;
        $icons : 'chatbot', 'profile', 'search';
        li {
            a {
                background:no-repeat center center/contain;
                display:block;
                width:30px;height:30px;
            }
                @for $i from 1 through 3{

                    &:nth-child(#{$i}){
                        a{
                            background-image:url($imgUrl + 'ico_#{nth($icons, $i)}.png')
                        }
                    }
                }
            
        }
    }
}

.main{

   img{
        height: 70vh;
        width: 100%;
   }
}
.visual{
    display: flex;

    .reserv{
        display: flex;
        width: 100%;
        max-width: 450px;
        min-width: 400px;
        background-color: #2E2E2E;
        padding: 20px;

        .inner{
            flex-grow: 1;
            background-color: #ffffff;
            position: relative;
            border-radius: 16px;
            padding: 20px;
        }

        .book_container{
            height: 420px;
            @include flex(null,$d:column);
        }
        .tab_menu{
            @include flex($a:center, $j:flex-start);
        }

        .tab_label{
           @include position(20px,20px);
        
        }

        .book_form{
            @include flex(null, $j:space-between);
            margin-top: 10px;
            
            .book_depart{
                    order:1;
                    flex-basis: calc(50% - 35px);
                span{
                    @include flex($a:center, $j:center);
                }
            }

            .book_arrive{
                    flex-basis: calc(50% - 35px);
                    order:3;
                span{
                    @include flex ($a:center, $j:center);
                }
            }

            .swap{
                border: 1px solid #a3a3a3;
                width: 50px;
                height: 50px;
                border-radius: 50%;;
                order:2;
            }
        }

        .book_term{
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #d2d0d0;
            border-width: 1px 0;
            padding: 20px 0;
            @include flex(null, $j:space-around);
        }

        dl{
            @include flex;
            margin-bottom: 10px;

        }

        .book_class{
            @include flex;
            margin-bottom: 10px;
        }

        .book_search{
            display: flex;
            background-color: yellow;
            padding: 10px 95px;
        }
    }
    .slide_wrap{
        position: relative;
        flex-grow:1;
        .slide_list{
            li{
                height: 500px;
                &:nth-child(1){
                    background-image: url($imgUrl + 'slide_0.jpg');
                }
                
                a{
                    display: block;
                    color: #ffffff;
                    padding: 110px 0 0 100px;

                    strong{
                        line-height: 24px;
                        font-size: 18px;
                    }

                    p{
                        line-height: 40px;
                        font-size: 25px;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
    

}

.recommand {

    ul{
        @include flex(null);
        position: relative;
    
        li{
            width: 260px;
            background:  no-repeat center center/cover;
            @for $i from 0 through 4{
                &:nth-child(#{$i + 1}){
                    background-image: url($imgUrl + 'pics_#{$i}.jpg') 
                }

            }

            // background: url('../images/pics_0.jpg') no-repeat center; 
            // padding: 80px 50px;
    
            a{
                display: block; 
                // padding: 180px 0;
                height: 356px;
    

    
                .text{
                    background-color: black;
                    @include position(null,null,0,0);
                    opacity: 0.5;
                    width: 260px;
                    height: 110px;
                    
    
                    p{
                        color: #ffffff;
                        font-weight: 500;
                        font-family: 'poppins, sasn-serif';
                    }
    
                    span{
                        color: #ffffff;
                    }
                }
            }
        }

    }
}

.weekly{
    margin-top: 30px;

    ul{
        @include flex(null);
        position: relative;

        li{
            width: 260px;
            background: no-repeat center center/cover; 
                @for $i from 0 through 4 {
                    &:nth-child(#{$i + 1}){
                    background-image: url($imgUrl + 'weekly_#{$i}.jpg')}
                }
            a{
                display: block;
                height: 356px;

                .text{
                    background-color: black;
                    @include position(null,null,0,0);
                    opacity: 0.5;
                    width: 260px;
                    height: 110px;

                    p{
                        color: #ffffff;
                        font-weight: 500;
                    }
                }
            }
        }

    }
}
.page_footer{
    div{

        @include flex;
        nav{
            .fnb{
                @include flex(null);
                padding: 0 15px 15px 0;
                    li{
                        @include flex(null, $j:space-between);
                    }
                }
            }
        }
    
    // justify-content: space-around;
    padding-top: 50px;
    // nav{
    //     display: flex;
    //     justify-content: space-between;
        
    //     ul{
    //         padding: 0 15px 15px 0;
    //     }
    // }

    .download{
        li{
            @include flex;

                .icons{
                    width: 200px;
                }
        }


    }
}