@mixin flex($a:center, $j:space-between, $d:null) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
}

@function unitcheck($size) {
    @if( unitless($size) ) {
        $size : $size + px
    }
    @return $size;
}

@mixin box($r :null, $w: null, $h:null) {
    $r: unitcheck($r);
    $w: unitcheck($w);
    $h: unitcheck($h);
    border-radius: $r;
    width: $w;
    height: $h;
}

@mixin full($bg:null,$z:null,$p:absolute) {
    position:$p;
    background:$bg;
    top:0;right:0;
    left:0;bottom:0;
    z-index:$z;
}
@mixin center($p:fixed){
    position: $p;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@mixin position($t:null, $r:null,$b:null,$l:null, $p:absolute){
    position: $p;
    bottom:$b;
    top:$t;
    right: $r;
    left: $l;
}

@mixin ir($path:null, $p:center center, $s:contain) {
    background:url($url + '#{$path}') no-repeat #{$p}/#{$s};

    &>span {
        @include blind; 
    }
}

@mixin iconBg($path, $start, $end) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @for $i from $start through $end {
        &:nth-child(#{$i}) {
            background-image:url($url + '#{$path}#{$i}.png');
        }
    }
}

 


