 

.dimm{
    @include full(rgba(0,0,0,0.7),1000, fixed); 
    display:none;
    &.open {
        display:block;
    }
}

.view_detail{
    @include center;
    background-color: #f3f3f3;
    width:100%;
    max-width: 600px;
    z-index: 1001;
    display:none;
    border-radius: 20px;
    padding:25px;

    &.open {
        display:block;
    }

    &.notInfo h2.month p {
        display:none;
    }

    h2{
        font-size: 20px;
        font-weight: 600;
        text-align: center;

        span{
            font-size: 0.7em;
            display: block;
            font-weight: 400;
            color: nth($gray, 5)
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        
        .modal_close{
            display: block;
            height: 40px;
            background-color: nth($gray,4);
        }
    }

    .view_grid{
        @include flex($a:stretch,$j:center); 
        column-gap:25px;
        padding:20px 0;

        .monthly{
            background-color:rgba(255,255,255,0.1);
            border-radius:20px;
            padding:20px;
            @include grid ($c:repeat(3, 50px));
            column-gap: 20px;
            row-gap: 10px;
            color: #fff;
            align-content: space-evenly;
           

            
            button{
                font-size: 16px;
                border: 1px solid #fff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                line-height: 16px;

                &:hover, &.active{
                    background-color: nth($primary, 5);
                    color: #fff;
                }
            }
        }

    }

    .buttons {
        $color : nth($gray, 4), nth($primary, 5);
        $hover :  nth($gray, 6), nth($primary, 7);
        button {
            width: 150px;
            height: 40px;
            border-radius: 20px;
            font-size: 16px;
            color: #fff;
            transition:0.4s; 
            @for $i from 1 through 2 {
                &:nth-child(#{$i}) {
                    background-color:nth($color, $i);   
                    &:hover {
                        background-color:nth($hover, $i);
                    } 
                }
            }
        }
    }
   
   
        .contents{ 
            border-radius:15px;

            .info{ 
                img { 
                    width:100%; 
                    margin-bottom:-4px;
                }
                position: relative;
            }

            .text{
                text-align: center;
                background-color: rgba(255,255,255,0.9);
                position: absolute;
                left:0;
                right: 0;
                bottom: 0;
                p{
                    padding: 10px 0 20px 0;
                    font-size: 16px;
                }

                i{
                    @include position($t:5px, $p:relative);
                }
                em{
                    color: red;
                    font-size: 18px;
                }
                span{
                    font-size: 16px;
                }
                
            }

            .view_contents{
                @include flex;
            }
                .view_pics{
                    width: 100%;
                    height: 300px;
                    background:no-repeat center center/contain;
                    display:block;
                    @for $i from 0 through 4{
                        &:nth-child(#{$i + 1}){
                            background-image: url($imgUrl + 'pics_#{$i}.jpg')}
                        }
                }
        }
}

@media all and (max-width: 960px) {
    .dimm {
        top:80px;
        bottom:auto;
        height:calc(100vh - 80px);
    }
    
}

@media all and (max-width: 640px) {
    .view_detail{
        max-width: none;
        width: calc(100vw - 40px);
    }
}
