.recommand{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
}

.weekly{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
}


.module_slide_card{ 
    margin: 0 -10px;

    .module_card{
        width: 260px; 
        margin:0 10px;
    
        & > a{

            display: block; 
            position: relative;
            max-height:356px;
            overflow: hidden;

            img{
                width: 100%;
                min-height:100%;
            }


            .text{
                background-color: rgba(0,0,0,0.7);
                @include position(null,0,0,0);

                color:#fff;
                padding: 15px;
                font-size:16px;
                font-weight:600;

                
                .journey {
                    display: flex;
                    align-items: center; 
                    column-gap:20px;
                    text-transform: uppercase;
                }

                .price {
                    em {
                        color:rgb(255, 79, 79);
                        font-weight:900;
                        font-size: 1.2em;
                        letter-spacing: 0.5px;
                    }
                } 
                
            }
        }
    }

}



