.recommand {
    .module_slide_card{
        @extend %inner;
        // @include flex(null);
    
        .module_card{
            width: 260px;
            background:  no-repeat center center/cover;
            margin:0 10px;
    
                &.a {
                    background-image:url($imgUrl + 'pics_0.jpg');
                }
                &.b {
                    background-image:url($imgUrl + 'pics_1.jpg');
                }
                &.c {
                    background-image:url($imgUrl + 'pics_2.jpg');
                }
                &.d {
                    background-image:url($imgUrl + 'pics_3.jpg');
                }
                &.e {
                    background-image:url($imgUrl + 'pics_4.jpg');
                }
                &.f {
                    background-image:url($imgUrl + 'pics_5.jpg');
                }
                &.g {
                    background-image:url($imgUrl + 'pics_6.jpg');
                }
                &.h {
                    background-image:url($imgUrl + 'pics_7.jpg');
                }
                &.i {
                    background-image:url($imgUrl + 'pics_8.jpg');
                }
                &.j {
                    background-image:url($imgUrl + 'pics_9.jpg');
                }
            
    
            
            & > a{
                display: block; 
                position: relative;
                height: 356px;
    
    
    
                .text{
                    background-color: black;
                    @include position(null,null,0,0);
                    opacity: 0.7;
                    width: 100%;
                    height: 110px;
                    padding-left: 10px;
                    
    
                    p{
                        color: #ffffff;
                        font-weight: 500;
                        margin-top: 10px;
                        font-size: 14px;
                    }
    
                    span{
                        color: #ffffff;
                    }
                }
            }
        }
    
    }
}

.weekly{
    .module_slide_card{
        @extend %inner;
        
        .slide_card{
            width: 260px;
            background:  no-repeat center center/cover;
            margin:0 10px;

            &.a {
                background-image:url($imgUrl + 'weekly_0.jpg');
            }
            &.b {
                background-image:url($imgUrl + 'weekly_1.jpg');
            }
            &.c {
                background-image:url($imgUrl + 'weekly_2.jpg');
            }
            &.d {
                background-image:url($imgUrl + 'weekly_3.jpg');
            }
            &.e {
                background-image:url($imgUrl + 'weekly_4.jpg');
            }
            &.f {
                background-image:url($imgUrl + 'weekly_5.jpg');
            }
            &.g {
                background-image:url($imgUrl + 'weekly_6.jpg');
            }
            &.h {
                background-image:url($imgUrl + 'weekly_7.jpg');
            }
            &.i {
                background-image:url($imgUrl + 'weekly_8.jpg');
            }
            &.j {
                background-image:url($imgUrl + 'weekly_9.jpg');
            }

            & > a{
                display: block; 
                position: relative;
                height: 356px;


                .text{
                    background-color: black;
                    @include position(null,null,0,0);
                    opacity: 0.7;
                    width: 100%;
                    height: 110px;
                    padding-left: 10px;
                    
    
                    p{
                        color: #ffffff;
                        font-weight: 500;
                        margin-top: 10px;
                        font-size: 14px;
                    }
    
                    span{
                        color: #ffffff;
                    }
                }
        }
    }
}
}